@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Buscar lista com locais para recarga de Veiculos ou Móveis  <a asp-controller="EstacaoRecarga" asp-action="Index">Clique aqui para consultar</a>.</p>
</div>
